@media (--desktop) {
  .hide-at-desktop {
    display: none;
  }
}

@media (--tablet) {
  .hide-at-tablet {
    display: none;
  }
}

@media (--phone) {
  .hide-at-phone {
    display: none;
  }
}

@media (--phone), (--tablet) {
  .hide-at-mobile {
    display: none;
  }
}
