.press {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 2rem;
  justify-content: center;
  align-items: center;
}

.press svg {
  display: block;
  height: 4rem;
  width: auto;
}

.press a {
  display: block;
}

.press a img {
  transition: opacity 0.3s ease-in-out;
}

.press a img:first-child {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.press a:hover img:last-child,
.press a:focus img:last-child {
  opacity: 0;
}

.press a:hover img:first-child,
.press a:focus img:first-child {
  opacity: 1;
}
