.agradecimento {
  padding: 2rem 1.5rem 6rem;

  display: grid;
  align-content: center;
  min-height: calc(100vh - 36px);
}

.agradecimento .container {
  max-width: 60rem;
}

.agradecimento picture {
  position: relative;
  max-width: 360px;
}

.agradecimento picture::after {
  content: '';
  background: url(/uploads/cover-texture.jpg) no-repeat center / cover;
  mix-blend-mode: multiply;
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
}

@media (--tablet) {
  .agradecimento .buttons {
    justify-content: flex-start;
  }
}

@media (--phone) {
  .agradecimento {
    text-align: center;
  }
}
