.content > * + * {
  margin-top: 1.5rem;
}

.content--xs > * + * {
  margin-top: 0.25rem;
}

.content--sm > * + * {
  margin-top: 0.5rem;
}

.content--md > * + * {
  margin-top: 1rem;
}

:where(.content > .headline + p),
:where(.content > * + .buttons) {
  margin-top: 2.5rem;
}
